.about {
  max-width: 1000px;
  position: relative;
  margin: 0px auto;
  padding: 150px 0px;
}

.aboutHeading{
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  font-size: 32px;
  margin: 10px 0px 40px;
}
.aboutHeading::before {
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-weight: normal;
  color: rgb(100, 255, 218);
  font-size: 20px;
  position: relative;
  bottom: 4px;
}
.aboutHeading::after {
  content: "";
  display: block;
  height: 1px;
  width: 300px;
  background-color: rgb(48, 60, 85);
  position: relative;
  top: -5px;
  margin-left: 20px;
}

.about-child-child {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: flex-start;
}
.about-child-child {
  width: 100%;
 
}

.about__Skills {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  overflow: hidden;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
}
.about__SkillName {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-size: 13px;
  color: rgb(136, 146, 176);
}
.about__SkillName::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: rgb(100, 255, 218);
  font-size: 14px;
  line-height: 12px;
}